
@font-face {
    font-family: 'alegreyaregular';
    src: url('/assets/fonts/alegreya-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/alegreya-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_monoregular';
    src: url('/assets/fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}