

body {
  font-family: "roboto_monoregular";
  background-color: $light
}

/*animation class*/

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 3s ease-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced--motion) {
  .hidden {
    transition: none;
  }
}